{
  "colorPalette": "blue",
  "autoRefreshEnabled": true,
  "autoRefreshMs": 60000,
  "includeUnusedModels": false,
  "nativeTimeoutMs": 300000,
  "scanner": {
    "extraScanPaths": {
      "claude": [
        "{{ .chezmoi.homeDir }}/.ccs/instances/personal/projects",
        "{{ .chezmoi.homeDir }}/.ccs/instances/work/projects"
      ]
    }
  }
}
